name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: |
        rustup override set nightly
        cargo build --verbose
    - name: Run tests
      run: |
        rustup override set nightly
        cargo test --verbose
